.login-email-input,
.login-email-input {
    label {
        font-size: small;
    }
}

.login-page-background-image {
    background-image: url("../../../public/images/background.png");
    background-position: 90% 8%;
    background-size: 220%;
    filter: blur(3px);
}